<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style type="text/css">
        .iconimg {
            width: 5%;
            height: 5%;
            float: right;
        }

        .fontCls {
            margin-top: 2px !important;
            float: right;
        }
    </style>
</head>

<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>身份证所在地查询</legend>
</fieldset>

<form class="layui-form" action="" style="width: 60%;" id="myForm">
    <div class="layui-col-md6">
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-block">
                <input type="text" name="idNum" lay-verify="idNum" style="width: 100%;" placeholder="请输入身份证号码"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <span class="fontCls" id="fontSpan">0</span>
        <img class="iconimg" src="img/eye.png"/>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary" onclick="resetForm()">重置</button>
        </div>
    </div>
</form>
<div class="layui-form-item layui-form-text" style="width: 60%">
    <label class="layui-form-label">查询结果</label>
    <div class="layui-input-block">
        <textarea placeholder="" id="textID" class="layui-textarea"></textarea>
    </div>
</div>
<blockquote class="layui-elem-quote layui-text">
    根据身份证号码，查询地区信息
</blockquote>

<script src="layui/layui.js" charset="utf-8"></script>
<script src="js/jquery.min.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer;
        init();
        //监听提交
        form.on('submit(demo1)', function (data) {
            var loading = layer.load(0, {
                shade: [0.1, '#fff'],
                time: 10 * 1000
            });


            //自定义验证规则
            form.verify({
                idNum: [
                    /^[1-9]\d{5}(18|19|20|(3\d))\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/
                    ,'身份证号码格式有误！'
                ]
            });


            $.ajax({
                url: "/kl/tools/queryIdNumber",
                type: "POST",
                dataType: "json",
                data: data.field,
                success: function (result) {
                    layer.close(loading);
                    if (result.ret === 200 && result.data != null) {
                        var data = result.data.info;
                        var html = "出生日期：" + data.birthday + "\n" +
                            "年龄：" + data.age + "\n" +
                            "性别：" + data.gender + "\n" +
                            "城市：" + data.city + "\n" +
                            "省份：" + data.province + "\n" +
                            "地区：" + data.area + "\n" +
                            "地址：" + data.address;
                        $("#textID").text(html);
                    }
                }
            });
            return false;
        });
    });


    function resetForm() {
        $("#myForm")[0].reset();
        $("#textID").text("");
    }


    function init() {
        $.ajax({
            url: "/kl/tools/getCounter",
            type: "GET",
            dataType: "json",
            data: {"counterName": "queryIdNumber"},
            success: function (result) {
                if (result.ret === 200 && result.data != null) {
                    var data = result.data.value;
                    $("#fontSpan").text(data);
                }
            }
        });
    }
</script>

</body>

</html>