<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <style type="text/css">
        .myframe {
            width: 100%;
            height: 100%;
            border: hidden;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin layui-bg-orange">
    <div class="layui-header">
        <div class="layui-logo">可乐工具</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="list">首页</a></li>
            <li class="layui-nav-item"><a href="home">排行榜</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">反馈建议</a>
                <dl class="layui-nav-child">
                    <dd><a href="https://support.qq.com/product/104249" target="_blank" >吐个槽</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">人工智能</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="goto('orc')">orc图片文字识别</a></dd>
                        <dd><a href="javascript:;" onclick="goto('plant')">植物识别</a></dd>
                        <dd><a href="javascript:;" onclick="goto('imgdeal')">图片无损放大</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">转换工具</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="goto('convert')">简繁体转换</a></dd>
                        <dd><a href="javascript:;" onclick="goto('name2pingyin')">姓名转拼音</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">查询工具</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="goto('ip-q')">IP地址归属信息查询</a></dd>
                        <dd><a href="javascript:;" onclick="goto('name')">随机获取一个昵称</a></dd>
                        <dd><a href="javascript:;" onclick="goto('phone_location')">手机号归属地查询</a></dd>
                        <dd><a href="javascript:;" onclick="goto('id_num')">身份证所在地查询</a></dd>
                        <dd><a href="javascript:;" onclick="goto('city')">全国地址查询</a></dd>
                        <dd><a href="javascript:;" onclick="goto('university')">全国大学查询</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe src="" frameborder="0"   scrolling="auto" class="myframe" id="iframeID">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">内容主体区域</div>
        </iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="layui/layui.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
        goto("list");
    });

    function goto(url) {
        $("#iframeID").attr("src", url);
    }

</script>
</body>
</html>